* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #43BAE9;
  font-family: "Noto Sans JP";
}

header {
  background-image: linear-gradient(#fff, #43BAE9);
}

nav {
  /* background: #ff5000; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 100%; */
  margin: auto;
  /* padding: 10vh 20vh; */
  border-radius: 20px;
}

/* @supports (display:grid) {
  nav {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 2em;
    align-items: top;
    justify-items: center;
    padding: 1.5em 2.5em;
    border-radius: 20px;
  }
} */

main {
  /* background: #FEF9E6; */
  /* padding: 4em 2em; */
}

footer {
  background-image: linear-gradient(#041E29, #000);
  min-height: 30vh;
  color: white;
  text-align: center;
}

footer p {
  padding-top: 3em;
}

h1 {
  background: #ff5000;
  font-size: 5em;
  font-family: "M PLUS 1p";
  color: #FEF9E6;
  padding: 1em;
  text-align: center;
  border-bottom: solid #FEF9E6 5px;
  border-radius: 0 0 100% 100%;
}

h2 {
  font-family: "M PLUS 1p";
  font-size: 2em;
  text-align: center;
  color: #FEF9E6;
  margin-top: 2em;
}

h3 {
  font-family: "M PLUS 1p";
  color: #ff5000;
  font-size: 2.5em;
  text-align: center;
}
div img {
  min-width: 150px;
  max-width: 8vw;
  margin-bottom: 20px;
}

svg{
  max-width: 1500px;
  /* max-height: 100vh; */
  margin-left: 10vw;
  margin-right: 10vw;
  border: #ff5000 dashed 1em;
  border-radius: 20px;
}

a {
  outline: none;
  text-decoration: none;
  color: #ff5000;
}

a:hover {
  color: #fff;
}

/* a:visited {

} */

article {
  background-color: #fff;
  color: #107405;
  max-width: 800px;
  min-height: content;
  margin: 4em auto;
  padding: 5vw;
  border:  dashed 5px #ff5000;
  border-radius: 20px;
  box-shadow: 3px 3px 5px #333;
  /* display: flex;
  flex-direction: column; */
}

article img {
  height: 20vh;
  float: left;
  margin-right: 2vw;
}

article h3 {
  text-align: left;
  font-size: max-content;
}

article p {
  min-width: 200px;
  /* margin-left: 150px; */
  text-align: left;
  line-height: 2.5em;
  font-size: 1.2em;
}

article a:hover {
  color: inherit;
}

article:last-child {
  margin-bottom: 0;
}

ol {
  float: right;
  width: 250px;
}

.card {
  background: #fff;
  color: #107405;
  font-size: 1.3em;
  border-radius: 20px;
  text-align: center;
  margin: 3em 20px;
  padding: 50px;
  width: 400px;
  box-shadow: 3px 3px 5px #000;
  transition: background-image 2s, position 2s;
  transition-timing-function: ease;
}

.card:hover {
  /* background-image: radial-gradient(#fff, #FEF9E6); */
  position: relative;
  top: -1px;
  left: -1px;
}

.card:active {
  background-image: radial-gradient(#FEF9E6, #fff);
  position: static;
}

.section-header {
  padding-top: 10vh;
  height: 40vmin;
  margin-left: 10vw;
  position: static;
}

@media (min-width: 1000px) {
  .section-header {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
  }
}

.section-header h2 {
  font-size: 3rem;
  margin: auto;
}

.home {
  border: solid #ff5000 1px;
  border-radius: 50%;
  width: max-content;
  margin: auto;
  text-align: center;
  padding: 0.5em;
  font-weight: bold;
}

/* .chuui {
  float: left;
} */

.hitsuyou {
  display: flex;
  flex-direction: row-reverse;
  width: min-content;
  margin: 20px auto;
}

/* .setsumei {
  margin: 2em 8em;
} */

.ato {
  clear: both;
  margin-top: 20px;
}

/*
@supports (display: grid) {
  #map {
  }
} */

#sunny {
  background-image: linear-gradient(#43BAE9, #829FAA);
}
#rainy {
  background-image: linear-gradient(#829FAA, #0F6384);
}

#dark {
  background-image: linear-gradient(#0F6384, #041E29);
}
